/* Custom styling for the switch */
.switch-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Reduce width proportionally */
  height: 22px; /* Reduce height proportionally */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 22px; /* Adjust border radius proportionally */
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; /* Reduce height proportionally */
  width: 18px; /* Reduce width proportionally */
  left: 2px; /* Adjust position proportionally */
  bottom: 2px; /* Adjust position proportionally */
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(18px); /* Adjust the distance when switch is checked */
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px; /* Adjust border radius proportionally */
}

.slider.round:before {
  border-radius: 50%;
}
