.tabs {
  overflow: hidden;
  background-color: transparent;
  display: flex;
  gap: 5px;
  border: none;
}

.tablinks {
  position: relative;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: none;
  padding-bottom: 5px; /* Adjust if needed */
}

.tablinks::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #6d28d9;
  transition: width 0.3s;
}

.tablinks:hover::before,
.tablinks.active::before {
  width: 100%;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styles for buttons */
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

/* Styles for switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4c1d95;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
